* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  text-align: center;
  width: 100%;
  background-image: url(sign-up\ img/grp.png);
}

img {
    width: 90px;
    margin: 15px 0 25px;
  }
  
  h1 {
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  span {
    font-style: italic;
  }
  
  label {
    font-size: 13px;
    display: block;
    cursor: default;
  }
  
  input {
    border-radius: 50px;
    width: 380px;
    height: 60px;
    background-color: #e8e5d6;
    border: 1px solid #bfbeb3;
  }
  
  input:hover {
    background-color: white;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  
  button {
    border-radius: 30px;
    border: 0;
    width: 200px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: black;
  }
  
  button:hover {
    background-color: #e4b245;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  
  .account {
    font-size: 14px;
    display: block;
    margin-top: 3px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }