.background-image::before{
    background-image: none;
}

.accounts-container{
    margin: auto;
    max-width: 60%;
    /* border: 3px solid gray; */
}

.account-name{
    font-family: 'EB Garamond', serif;
    font-size: 4.5rem;
    color: #1e1e1e;
    margin-bottom: 1.6rem;
}

.subscriber{
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 2.5rem;
}

.account-holder img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.card-details{
    margin: auto;
    width: 85%;
    
    /* height: 80vh; */
    
}

.card-details-container1{
    border: 1px solid #bfbeb3;
    border-radius: 20px;
    padding: 2rem;
}

.card-details-container{
    gap: 3rem;
}

.card-details{
    font-family: 'Nunito Sans', sans-serif;
    color: #1e1e1e;
}

.a-details{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    /* margin-top: 1.5rem; */
    /* font-family: 'Nunito Sans', sans-serif;
    color: #1e1e1e; */
}

.email-plan{
    margin-bottom: 1rem;
}

.m-b{
    margin-bottom: 0.5rem;
}

.card-info-title{
    font-size: 0.8rem;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.card-info{
    font-size: 0.9rem;
    font-weight: 600;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.sub-cancel{
    float: right;
    gap: 1rem;
    margin-top: 0.8rem;
}

.sub-cancel a{
    text-decoration: none;
    color: #1e1e1e;
    font-size: 0.7rem;
}

.edit-bill{
    align-items: center;
    justify-content: center;
}

.edit-bill:hover i{
    margin-left: 0.3rem;
}

.i{
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: #1e1e1e;
}

.a-underline:hover{
    text-decoration: underline;
}

/* .ican{
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}

.ucan{
    align-items: center;
    justify-content: center;
}

.ican i{
    font-size: 0.3rem;
} */