*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 85%;
}

body{
    background-color: #f2efe4;
    font-family: 'Nunito Sans', sans-serif;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

.background-image{
    position: relative;
    width: 100%;
    height: 400px;
}

.background-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg,transparent,#f2efe4 0%,#f2efe4 5%,rgba(0,0,0,.104)22.5%, #f2efe4 100%, #f2efe4 100%,#f2efe4 100%,#f2efe4), url(/assets/images/gemma-chua-tran-no1ZI2uXTFw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 25rem;
    opacity: 0.5;
    z-index: -1;
}


/* HEADER */

header{
    /* background-image: url(/assets/images/gemma-chua-tran-no1ZI2uXTFw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
nav{
    justify-content: space-between;
    padding: 20px 40px; 
}

nav a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
    
}

nav a:hover{
    text-decoration: underline;
}

nav li{
    list-style-type: none;
}

.logo img{
    width: 5rem;
    height: 2rem;
}

.menu-icon img{
    width: 2rem;
    height: 2rem;
    margin-top: 3px;
}


.logo-container{
    gap: 2rem;
    max-width: 45%;
    justify-content: center;
    align-items: center;
}

ul{
    gap: 2rem;
}

.search-signup{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 25%;
}

.signup, .subscribe{
    background-color: #1e1e1e;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.signup:hover, .subscribe:hover{
    background-color: #e4b245;
}


.signup a, .subscribe a{
    color: #fff;
}

.signup a:hover, .subscribe a:hover{
    text-decoration: none;
}

/* MAIN */
main{
    font-family: 'EB Garamond', serif;
}

.main-text{
    width: 78%;
    color: #1e1e1e;
}

.bold-italics{
    font-style: italic;
    font-size: 5.5rem;
}

.bold-italics span{
    font-style: normal;
}

.genki{
    line-height: 1.65;
    font-size: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1.9rem;
    margin-bottom: 2rem;
    width: 85%;
}

.subscribe{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.images1, .images2, .images3, .images4, .images5, .arrow, .images6, .new-post{
    justify-content: space-between;
}

.images1{
    /* position: relative;
    width: 100%; */
    
}

.images1-text{
    width: 23%;
    /* height: 75vh; */
    /* object-fit: cover; */
    /* background-repeat: no-repeat;
    background-position: center; */
    border-radius: 30px;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    
}

.img img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 30px;
}

/* .absolute{
    position: absolute;
    top: 10rem;
    width: 15rem;
    padding-left: 20px;
} */

.images1-text{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.featured{
    font-size: 0.6rem;
    letter-spacing: 0.12rem;
}

.featured + p{
    font-size: 1.5rem;
}

.name{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.name:hover{
    text-decoration: underline;
}

.img-text1{
    margin-top: -8rem;
    padding: 1.3rem;
}
.img-text2{
    margin-top: -22rem;
    padding: 1.3rem;
}
.img-text3{
    margin-top: -10rem;
    padding: 1.3rem;
}
.img-text4{
    margin-top: -12rem;
    padding: 1.3rem;
}

.img5{
    background-image: url(/assets/images/kobu-agency-k41cAJvJ7h0-unsplash.jpg);
}

.img6{
    background-image: url(/assets/images/eberhard-grossgasteiger-SQtEnnmV-No-unsplash-1.jpg);
}

.img7{
    background-image: url(/assets/images/josep-martins-l3-erg8nPRU-unsplash-2.jpg);
}



.images2 .s_img{
    width: 30%;
    min-height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 4rem; 
}

/* .images2 .s_img-full{
    width: 100%;
} */

.images2 div{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.images2 a, .disappear3 p{
    text-decoration: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.disappear-img{
    width: inherit;
}

.disappear-img img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 30px; 
    /* margin-bottom: 4rem;  */
}

.disappear3{
    display: none;
    position: relative;
}

.disappear3 p{
    position: absolute;
    top: 1.5rem;
    left: 40%;
}

.images3{
    color: #1e1e1e;
    margin-bottom: 2rem;
}

.images3-p{
    font-size: 4.5rem;
    max-width: 50%;
}

.images3-p span, .new-post span{ 
    font-style: italic;
}

.img8{
    background-image: url(/assets/images/suhyeon-choi-VfOw1B-y_rQ-unsplash.jpg);
    z-index: 1;
}

.img9{
    background-image: url(/assets/images/andre-miranda-YcSozv26XjQ-unsplash.jpg);
}


.img10{
    background-image: url(/assets/images/ziphaus-P8mV7z5LTp4-unsplash.jpg);
    z-index: -1;
}

.img11{
    background-image: url(/assets/images/nathan-dumlao-ger61_TX6oI-unsplash.jpg);
    z-index: -2;
}

.images3-img .round-images{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;  
    margin-bottom: 0.5rem;
}

.img8, .img9, .img10{
    margin-right: -0.6rem;
}

.images3-img_container{
    margin-bottom: 0px;
    margin-top: 6.5rem;
}

.images3-img_container p{
    float: right;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
}

.images4, .images5{
    color: white;
    /* position: relative; */
    font-family: 'Nunito Sans', sans-serif;
}

.images4 a{
    display: block;
}

/* .images4-text1{
    flex: 2;   
} */

/* .images4-text2{
    flex: 1;
} */

.images4-text1{
    width: 68%;
}
.images4-text2{
    width: 30%;
}

.img-text5{
    /* top: 3rem; */
    margin-top: -22rem;
    /* padding: 1.3rem; */
    font-size: 1.8rem;
    width: 23rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 30px;
}

.img-text5 a{
    font-weight: normal;
}

.img-text6{
    margin-top: -14rem;
    font-size: 1.5rem;
    width: 18rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 30px;
}

.border-text{
    
    font-size: 0.7rem;
    
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: inherit;
    border-radius: 40px;
    padding: 10px;
}

.creative{
    width: 60px;
}

.border-text a{
    color: white;
    text-decoration: none;  
}

.border-text a:hover{
    /* text-decoration: underline; */
    color: black;
    
}

.border-text:hover{
    background-color: white;  
}

.key-idea{
    gap: 0.5rem;
}
.key{
    color: black;
    font-size: 0.6rem;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.key a{
    color: black;

}

 /* .img12, .img13{
    width: 97%;
    height: 65vh;
    object-fit: cover;
    border-radius: 30px;
} */

.images4{
    margin-bottom: 2rem;
}

.img14, .img15, .img16, .img17, .img18, .img19, .img20, .img21, .img22, .img23{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 30px; 
} 

.three_img{
    width: 31.5%;
}

.img-text7{
    margin-top: -11.5rem;
    font-size: 1.4rem;
    width: 20rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 30px;
}

.img-text8{
    margin-top: -11.5rem;
    font-size: 1.4rem;
    width: 20rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 30px;
}

.img-text9{
    margin-top: -22rem;
    font-size: 2rem;
    width: 21rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 30px;
}

.img-text10{
    margin-top: -22rem;
    font-size: 2rem;
    width: 20rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding: 30px;
}

.img-text11{
    margin-top: -11.5rem;
    font-size: 1.4rem;
    width: 20rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 30px;
}

.img-text12{
    margin-top: -14rem;
    font-size: 1.4rem;
    width: 20rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 30px;
}

.images5{
    margin-bottom: 6rem;
}

.disappear2{
    display: none;
}

.load{
    margin-top: 3rem;
}

.load_more-btn{
    padding: 15px 50px;
    margin-top: 2rem;
}

.arrow{
    font-size: 3.8rem;
    margin-top: 6rem;
    color: #1e1e1e;
    margin-bottom: 2rem;
}

.arrow span{
    font-style: italic;
}

.arrow i{
    color: #1e1e1e;
}

.four_img{
    width: 23.5%;
}

.img-text13{
    margin-top: -13rem;
    font-size: 1.2rem;
    width: 15rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 25px;
}

.img-text14{
    margin-top: -11rem;
    font-size: 1.2rem;
    width: 15rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 25px;
}

.img-text15{
    margin-top: -11rem;
    font-size: 1.2rem;
    width: 15rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 25px;
}

.img-text16{
    margin-top: -20rem;
    font-size: 1.4rem;
    width: 15rem;
    font-weight: 700;
    line-height: 1.8rem;
    padding: 25px;
}

.images6 .four_img{
    width: 23%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 2rem;
}

.images6{
    margin-bottom: 4rem;
}

.new-post{
    font-size: 3.7rem;
    color: #1e1e1e;
    border-bottom: 1px solid rgb(133, 133, 133);
    padding-bottom: 3rem;
    justify-content: space-between;
}

.new-post input{
    width: 400px;
    height: 68px;
    background-color: transparent;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-indent: 2rem;
}

.rel{
    position: relative;
}

.subscribe_input{
    position: absolute;
    top: 2rem;
    right: 1rem;
}

/* FOOOTER */

footer{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 4rem;
    
}

.footer-container{
    margin-left: 8%;
    width: 80%;
    border: 1px solid red;
}

.footer-logo img{
    width: 6rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.footer-section_container{
    gap: 8rem;
    margin-bottom: 2rem;
}

.footer-title{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.footer-section div{
    margin-bottom: 2rem;
}

footer a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

.copyright, .copyright a{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
    .main-text{
        width: 85%;
    }

    .genki{
        width: 92%;
    }

    .container{
        width: 90%;
    }

    .footer-container{
        margin-left: 5%;
        width: 90%;
    }

    .footer-section_container{
        gap: 7rem;
    }

    .bold-italics{
        font-size: 5rem;
    }

    .disappear{
        display: none;
    }

    .images1-text{
        width: 31%;
    }

    .four_img{
        width: 31%;
    }
   
    .images5{
        margin-bottom: 1rem;
    }
    
    footer a{
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 912px) {
    .main-text{
        width: 92%;
    }
    
    .genki{
        width: 94%;
    }
    
    .img img{
        height: 40vh;
    }

    .new-post{
        font-size: 3.2rem;
    }

    .subscribe_input{
        top: 9.8rem;
    }
    
    .new-post input{
        width: 350px;
        margin-top: 9rem;
        
    }

    .sub-new-post{
        margin-top: 9rem;
    }

    footer{
        margin-top: 9rem;
    }

    footer a{
        font-size: 0.6rem;
    }
    
}

@media screen and (max-width: 820px) {
    .genki{
        width: 100%;
    }
    
    .images4, .images5{
        flex-wrap: wrap;
    }

    .images4-text1{
        width: 100%;
        margin-bottom: 6rem;
    }

    .disappear2{
        display: block;
    }
    .images4-text2{
        display: none;
    }

    .img-text5{
        margin-top: -28rem;
        width: 33rem;
        font-size: 2.1rem;
        margin-bottom: 8rem;
    }

    .three_img{
        width: 48.5%;
        margin-bottom: 0.8rem;
    }

    .full-space{
        width: 100%;
    }

    .images3-img{
        margin-bottom: 0;
        padding-top: 6rem;
    }

    .four_img{
        margin-bottom: 8rem;
    }

    .new-post{
        font-size: 3rem;
    }

    .subscribe_input{
        top: 9.8rem;
    }
    
    .new-post input{
        width: 350px;
        margin-top: 0.6rem; 
    }

    .sub-new-post{
        margin-top: 0rem;
    }

    .subscribe_input{
        top: 1.3rem;
    }

    .footer-section_container{
        gap: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .disappear{
        display: block;
    }

    .images1{
        flex-wrap: wrap;
    }
    .images1-text{
        width: 49%;
        margin-bottom: -3.5rem;
    }

    .images2{
        margin-top: 10rem;
        flex-wrap: wrap;
        margin-bottom: -3rem;
    }

    .images2 .s_img{
        width: 48%;
    }

    .disappear4{
        display: none;
    }

    .disappear3{
        display: block;
    }

    .images2 .s_img-full{
        width: 100%;
    }
    
    .disappear5{
        display: none;
    }

    .images3-p{
        max-width: 100%;
        font-size: 3.8rem;
        margin-top: 3rem;
    }

    .disappear6{
        display: none;
    }

    .four_img{
        width: 48%;
    }

    .new-post{
        flex-wrap: wrap;
        border: none;
    }

    .footer-section_container{
        gap: 5rem;
    }

    .img-text5{
        margin-top: -27rem;
    }
}

@media screen and (max-width: 540px) {
    .footer-section_container{
        flex-wrap: wrap;
    }

    .footer-container{
        width: 90%;
    }

    .container{
        width: 90%;
    }

    .images4-text1, .images4-text2{
        width: 100%;
    }

    .three_img{
        width: 100%;
       
        /* margin-bottom: 4rem; */
    }

    .img-text5{
        margin-top: -19rem;
        font-size: 2rem;
        margin-bottom: -0.5rem;
    }

    .img-text9{
        margin-top: -18rem;
    }

    .img-text10{
        margin-top: -17rem;
       
    }

    .mb{
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 414px){
    /* .container{
        width: 95%;
    } */
    
    .img-text5{
        width: 100%;
    }

    .footer-container{
        width: 80%;
    }

    /* .nav-container{
        display: none;
    } */

    .disappear6{
        display: block;
    }

    .img-text13, .img-text14, .img-text15, .img-text16{
        width: 10rem;
    }
}