*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

nav{
    justify-content: space-between;
}

.logo img{
    width: 6rem;
    height: 2rem;
}

li img{
    width: 2rem;
    height: 2rem;
}

.menu-icon img{
    width: 2rem;
    height: 2rem;
}


.logo-container{
    gap: 2rem;
    width: 30%;
}

ul{
    gap: 2rem;
}

.search-signup{
    justify-content: space-between;
    width: 10%;
}


/* FOOOTER */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.footer-container{
    margin: auto;
    width: 70%;
}

.footer-logo img{
    width: 6rem;
    height: 2rem;
    margin-bottom: 3rem;
}


.footer-section_container{
    justify-content: space-between;
}

.footer-title{
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
}

.footer-section div{
    margin-bottom: 2rem;
}

footer a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}