*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 85%;
}

body{
    background-color: #f2efe4;
    font-family: 'Nunito Sans', sans-serif;
}

.d-flex{
    display: flex;
}


/* HEADER */
nav{
    justify-content: space-between;
    padding: 20px 40px; 
}

nav a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
    
}

nav a:hover{
    text-decoration: underline;
}

nav li{
    list-style-type: none;
}

.logo img{
    width: 5rem;
    height: 2rem;
}

.menu-icon img{
    width: 2rem;
    height: 2rem;
    margin-top: 3px;
}


.logo-container{
    gap: 2rem;
    max-width: 45%;
    justify-content: center;
    align-items: center;
}

ul{
    gap: 2rem;
}

.search-signup{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 25%;
}

.signup, .subscribe{
    background-color: #1e1e1e;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.signup:hover, .subscribe:hover{
    background-color: #e4b245;
}


.signup a, .subscribe a{
    color: #fff;
}

.signup a:hover, .subscribe a:hover{
    text-decoration: none;
}

/* MAIN */
main{
    font-family: 'EB Garamond', serif;
}

.main-text{
    width: 82%;
    color: #1e1e1e;
}

.bold-italics{
    font-style: italic;
    font-size: 5.5rem;
}

.bold-italics span{
    font-style: normal;
}

.genki{
    line-height: 1.65;
    font-size: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1.9rem;
    margin-bottom: 2rem;
    width: 85%;
}

.subscribe{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
}

.img1{
    background-image: url(/assets/images/jade-scarlato-1lun52-nNys-unsplash.jpg);
}

.img2{
    background-image: url(/assets/images/kamile-jokubauskaite-UMlHAGFGU-Q-unsplash.jpg);
}

.img3{
    background-image: url(/assets/images/gemma-chua-tran-Td3yG1y4aII-unsplash.jpg);
}

.img4{
    background-image: url(/assets/images/krystal-ng-jRp60R7ogNQ-unsplash.jpg);
}

.images1, .images2, .images3{
    justify-content: space-between;
}

.images1 .img{
    width: 23%;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    
}

.img5{
    background-image: url(/assets/images/kobu-agency-k41cAJvJ7h0-unsplash.jpg);
}

.img6{
    background-image: url(/assets/images/eberhard-grossgasteiger-SQtEnnmV-No-unsplash-1.jpg);
}

.img7{
    background-image: url(/assets/images/josep-martins-l3-erg8nPRU-unsplash-2.jpg);
}

.images2 .s_img{
    width: 30%;
    min-height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 4rem; 
}

.images3{
    color: #1e1e1e;
}

.images3-p{
    font-size: 4.5rem;
    max-width: 50%;
}

.images3-p span{ 
    font-style: italic;
}

.img8{
    background-image: url(/assets/images/suhyeon-choi-VfOw1B-y_rQ-unsplash.jpg);
    z-index: 1;
}

.img9{
    background-image: url(/assets/images/andre-miranda-YcSozv26XjQ-unsplash.jpg);
    /* z-index: -1; */
}


.img10{
    background-image: url(/assets/images/ziphaus-P8mV7z5LTp4-unsplash.jpg);
    z-index: -1;
}

.img11{
    background-image: url(/assets/images/nathan-dumlao-ger61_TX6oI-unsplash.jpg);
    z-index: -2;
}

/* .images3-img{
    border: 1px solid red;
} */

/* .images3-p{
    width: 50%;
} */

.images3-img .round-images{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;  
    margin-bottom: 0.5rem;
}

.img8, .img9, .img10{
    margin-right: -0.6rem;
}

.images3-img_container{
    margin-bottom: 0px;
    margin-top: 6.5rem;
}

.images3-img_container p{
    float: right;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
}

/* FOOOTER */

footer{
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid red;
    margin-top: 3rem;
    
}

.footer-container{
    
}

.footer-logo img{
    width: 6rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.footer-section_container{
    gap: 8rem;
    margin-bottom: 2rem;
}

.footer-title{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.footer-section div{
    margin-bottom: 2rem;
}

footer a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

.copyright, .copyright a{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}