*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 85%;
}

body{
    background-color: #f2efe4;
    font-family: 'Nunito Sans', sans-serif;
}

.d-flex{
    display: flex;
}

.t-center{
    text-align: center;
}

/* .background-image{
    position: relative;
    width: 100%;
    height: 400px;
}

.background-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(/assets/images/gemma-chua-tran-no1ZI2uXTFw-unsplash.jpg);
    height: 25rem;
    opacity: 0.5;
    z-index: -1;
} */


/* HEADER */

header{
    /* background-image: url(/assets/images/gemma-chua-tran-no1ZI2uXTFw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
nav{
    justify-content: space-between;
    padding: 20px 40px; 
}

nav a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
    
}

nav a:hover{
    text-decoration: underline;
}

nav li{
    list-style-type: none;
}

.logo img{
    width: 5rem;
    height: 2rem;
}

.menu-icon img{
    width: 2rem;
    height: 2rem;
    margin-top: 3px;
}


.logo-container{
    gap: 2rem;
    max-width: 45%;
    justify-content: center;
    align-items: center;
}

ul{
    gap: 2rem;
}

.search-signup{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 25%;
}

.signup, .subscribe{
    background-color: #1e1e1e;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.signup:hover, .subscribe:hover{
    background-color: #e4b245;
}


.signup a, .subscribe a{
    color: #fff;
}

.signup a:hover, .subscribe a:hover{
    text-decoration: none;
}

/* MAIN */
main{
    font-family: 'EB Garamond', serif;
}

.main-text{
    width: 82%;
    color: #1e1e1e;
}

.bold-italics{
    font-style: italic;
    font-size: 5.5rem;
}

.bold-italics span{
    font-style: normal;
}

.genki{
    line-height: 1.65;
    font-size: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1.9rem;
    margin-bottom: 2rem;
    width: 85%;
}

.subscribe{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.images1, .images2, .images3, .images4, .images5, .arrow, .images6, .new-post{
    justify-content: space-between;
}

.images1{
    position: relative;
}

.images1 .img{
    width: 94%;
    min-height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    
}

.absolute{
    position: absolute;
    top: 10rem;
    width: 15rem;
    padding-left: 20px;
}

.images1-text{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.featured{
    font-size: 0.6rem;
    letter-spacing: 0.12rem;
}

.featured + p{
    font-size: 1.5rem;
}

.name{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.name:hover{
    text-decoration: underline;
}

.img-text1{
    top: 23rem;
}
.img-text2{
    top: 8rem;
}
.img-text3{
    top: 22rem;
}
.img-text4{
    top: 21rem;
}

.img5{
    background-image: url(/assets/images/kobu-agency-k41cAJvJ7h0-unsplash.jpg);
}

.img6{
    background-image: url(/assets/images/eberhard-grossgasteiger-SQtEnnmV-No-unsplash-1.jpg);
}

.img7{
    background-image: url(/assets/images/josep-martins-l3-erg8nPRU-unsplash-2.jpg);
}

.images2 .s_img{
    width: 30%;
    min-height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 4rem; 
}

.images2 div{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.images2 a{
    text-decoration: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.images3{
    color: #1e1e1e;
    margin-bottom: 2rem;
}

.images3-p{
    font-size: 4.5rem;
    max-width: 50%;
}

.images3-p span, .new-post span{ 
    font-style: italic;
}

.img8{
    background-image: url(/assets/images/suhyeon-choi-VfOw1B-y_rQ-unsplash.jpg);
    z-index: 1;
}

.img9{
    background-image: url(/assets/images/andre-miranda-YcSozv26XjQ-unsplash.jpg);
}


.img10{
    background-image: url(/assets/images/ziphaus-P8mV7z5LTp4-unsplash.jpg);
    z-index: -1;
}

.img11{
    background-image: url(/assets/images/nathan-dumlao-ger61_TX6oI-unsplash.jpg);
    z-index: -2;
}

.images3-img .round-images{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;  
    margin-bottom: 0.5rem;
}

.img8, .img9, .img10{
    margin-right: -0.6rem;
}

.images3-img_container{
    margin-bottom: 0px;
    margin-top: 6.5rem;
}

.images3-img_container p{
    float: right;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
}

.img12{
    background-image: url(/assets/images/lizzie-Amgr1UIYR1s-unsplash.jpg);
}

.img13{
    background-image: url(/assets/images/carnaby-gilany-BKp6dQmmY5k-unsplash.jpg);
}


.images4 .img12{
    width: 65%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
}

.images4 .img13{
    width: 33%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
}

.images4{
    margin-bottom: 2rem;
}

.images5{
    flex-wrap: wrap;
}

.img14{
    background-image: url(/assets/images/jakayla-toney-nmosIbEJq7M-unsplash.jpg)
}

.img15{
    background-image: url(/assets/images/photo-1611679782010-5ac7ff596d9a.jpeg);
}

.img16{
    background-image: url(/assets/images/clem-onojeghuo-TDgEgi6zM2s-unsplash-1.jpg);
}

.img17{
    background-image: url(/assets/images/tania-miron-822aanyT-fU-unsplash.jpg);
}

.img18{
    background-image: url(/assets/images/gemma-chua-tran-z7gi8Dc4riQ-unsplash.jpg);
}

.img19{
    background-image: url(/assets/images/photo-1613420568020-0c0e3764d499.jpeg);
}

.images5 .three_img{
    width: 32%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 2rem;
}

.images5{
    margin-bottom: 2rem;
}

.load_more-btn{
    padding: 15px 50px;
}

.arrow{
    font-size: 3.8rem;
    margin-top: 6rem;
    color: #1e1e1e;
    margin-bottom: 2rem;
}

.arrow span{
    font-style: italic;
}

.arrow i{
    color: #1e1e1e;
}

.img20{
    background-image: url(/assets/images/carnaby-gilany-BKp6dQmmY5k-unsplash.jpg);
}

.img21{
    background-image: url(/assets/images/jakayla-toney-nmosIbEJq7M-unsplash.jpg);
}

.img22{
    background-image: url(/assets/images/photo-1611679782010-5ac7ff596d9a.jpeg);
}

.img23{
    background-image: url(/assets/images/tania-miron-822aanyT-fU-unsplash.jpg);
}

.images6 .four_img{
    width: 23%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px; 
    margin-bottom: 2rem;
}

.images6{
    margin-bottom: 4rem;
}

.new-post{
    font-size: 3.7rem;
    color: #1e1e1e;
    border-bottom: 1px solid rgb(133, 133, 133);
    padding-bottom: 3rem;
}

.new-post input{
    width: 400px;
    height: 68px;
    z-index: -1;
    background-color: transparent;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-indent: 2rem;
}

.subscribe_input{
    margin-right: -25rem;
    /* z-index: -1; */
}

/* FOOOTER */

footer{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 4rem;
    
}

.footer-container{
    
}

.footer-logo img{
    width: 6rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.footer-section_container{
    gap: 8rem;
    margin-bottom: 2rem;
}

.footer-title{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.footer-section div{
    margin-bottom: 2rem;
}

footer a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

.copyright, .copyright a{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}