*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 85%;
}

body{
    background-color: #f2efe4;
    font-family: 'Nunito Sans', sans-serif;
}

.d-flex{
    display: flex;
}


/* HEADER */
nav{
    justify-content: space-between;
    padding: 20px 40px; 
}

nav a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1.2rem;
    
}

nav a:hover{
    text-decoration: underline;
}

nav li{
    list-style-type: none;
}

.logo img{
    width: 6rem;
    height: 2rem;
}

.menu-icon img{
    width: 2rem;
    height: 2rem;
    margin-top: 3px;
}


.logo-container{
    gap: 2rem;
    width: 35%;
    justify-content: center;
    align-items: center;
}

ul{
    gap: 2rem;
}

.search-signup{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.signup, .subscribe{
    background-color: #1e1e1e;
    padding: 0.7rem 2.1rem;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.signup:hover, .subscribe:hover{
    background-color: #e4b245;
}


.signup a, .subscribe a{
    color: #fff;
}

.signup a:hover, .subscribe a:hover{
    text-decoration: none;
}

/* MAIN */
main{
    font-family: 'EB Garamond', serif;
}

.main-text{
    width: 82%;
    color: #1e1e1e;
}

.bold-italics{
    font-style: italic;
    font-size: 5.5rem;
}

.bold-italics span{
    font-style: normal;
}

.genki{
    line-height: 1.65;
    font-size: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1.9rem;
    margin-bottom: 2rem;
    width: 85%;
}

.subscribe{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
}

.images1 .img{
    height: 348px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}

.img1{
    background-image: url(/assets/images/jade-scarlato-1lun52-nNys-unsplash.jpg);
}

.img2{
    background-image: url(/assets/images/kamile-jokubauskaite-UMlHAGFGU-Q-unsplash.jpg);
}

.img3{
    background-image: url(/assets/images/gemma-chua-tran-Td3yG1y4aII-unsplash.jpg);
}

.img4{
    background-image: url(/assets/images/krystal-ng-jRp60R7ogNQ-unsplash.jpg);
}

/* FOOOTER */

footer{
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid red;
    margin-top: 3rem;
    
}

.footer-container{
    
}

.footer-logo img{
    width: 6rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.footer-section_container{
    gap: 8rem;
    margin-bottom: 2rem;
}

.footer-title{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.footer-section div{
    margin-bottom: 2rem;
}

footer a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

.copyright, .copyright a{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}