.background-image {
    background-image:
    linear-gradient(0deg,transparent,#f2efe4 0%,#f2efe4 5%,rgba(0,0,0,.104)22.5%,#f2efe4 100%,#f2efe4 0%,#f2efe4),
    url('/assets/images/geordanna-cordero-5NE6mX0WVfQ-unsplash\ \(1\).jpg');
    width: 100%;
    height: 190px;
    background-size: cover;
    color: white;
    padding: 20px;
}
